

    <div class="resume-section-content">
        <form method="post">
            <h2 class="mb-5" { style = "color:#bd5d38"}>Contact</h2>

            <label { style = "color:#bd5d38"}>Name Surname</label>
            <input type="text" class="form-control" name="NameSurname" />

            <label { style = "color:#bd5d38"}>E-Mail</label>
            <input type="text" class="form-control" name="Mail" />

            <label { style = "color:#bd5d38"}>Subject</label>
            <input type="text" class="form-control" name="Subject" />

            <label { style = "color:#bd5d38"}>Message</label>
            <input type="text" class="form-control" name="Message" />
            <br />
            <button class="btn btn-info">Send Message</button>
        </form>

    </div>
