@using MyCv.Models.Entity
@model List<SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Social Media </h2>

<!DOCTYPE html>
<html lang="en">
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Account List</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#modal1">Add New Account</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Social Media</th>
                                            <th>Delete</th>
                                            <th>Edit</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                           
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Name</td>

                                                   <td>
                                                    <a class="btn btn-danger btn-sm" href="/SocialMedia/Delete/@item.ID">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Delete
                                                    </a>
                                                </td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SocialMedia/Find/@item.ID">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Edit
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->

                        </div>

                    </div>

                </div>

            </div><!-- /.container-fluid -->
        </section>
        <div class="modal" id="modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add New Social Media Account </h2>
                    </div>
                    <form method="post" action="/SocialMedia/Add">
                        <div class="modal-body">
                            <label>Social Media Name</label>
                            <input type="text" name="Name" class="form-control" />
                            <br />
                            <label>Social Media Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Social Media Icon</label>
                            <input type="text" name="Icon" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
      
    </div>
    
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</body>
</html>
