@model MyCv.Models.Entity.Skills

@{
    ViewBag.Title = "EditSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditSkill</h2>

<form class="form-group" method="post">

    <br />
    @Html.Label("Skills")
    @Html.TextBoxFor(x => x.Skills1, new { @class = "form-control" })

    <br />
    @Html.Label("Progress")
    @Html.TextBoxFor(x => x.Progress, new { @class = "form-control" })

    <br />
    <button class="btn btn-info"> Edit </button>

</form>

